<form [formGroup]="userForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div formGroupName="address">
        <div>
            <label>
                Street:
                <input type="text" formControlName="street">
            </label>
        </div>

        <div>
            <label>
                City:
                <input type="text" formControlName="city">
            </label>
        </div>

        <div>
            <label>
                Zip code:
                <input type="text" formControlName="zipCode">
            </label>
        </div>
    </div>
    <div formGroupName="credentials">
        <div>
            <label>
                Email:
                <input type="text" formControlName="email">
            {{ userForm.get('credentials.email')?.errors?.['email'].rules }}
            <div *ngIf="userForm.get('credentials.email')?.errors && !userForm.get('credentials.email')?.pristine">
                <div [hidden]="!userForm.get('credentials.email')?.errors?.['required']">The email is required.</div>
                <div [hidden]="!userForm.get('credentials.email')?.invalid">The email is invalid.</div>
              <-- !userForm.get('credentials.email')?.errors?.['emailValidator'] --> 
            </div>
            </label>
        </div>

        <div>
            <label>
                Password:
                <input type="text" formControlName="password">
            </label>
        </div>
    </div>

    <button type="submit">Submit</button>
</form>

<div *ngIf="form.submitted">
   
   <p> {{userForm.value.credentials.email}}</p>
   <p>{{userForm.value.credentials.password}}</p>
    </div>
