<form [formGroup]="userForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div formGroupName="address">
        <div>
            <label>
                Street:
                <input type="text" formControlName="street">
            </label>
        </div>

        <div>
            <label>
                City:
                <input type="text" formControlName="city">
            </label>
        </div>

        <div>
            <label>
                Zip code:
                <input type="text" formControlName="zipCode">
            </label>
        </div>
    </div>
    <div formGroupName="credentials">
        <div>
            <label>
                Email:
                <input type="text" formControlName="email">
            </label>
        </div>

        <div>
            <label>
                Password:
                <input type="text" formControlName="password">
            </label>
        </div>
    </div>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>

<div *ngIf="form.submitted">
   
   <p> {{userForm.value.credentials.email}}</p>
   <p>{{userForm.value.credentials.password}}</p>
    </div>